@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-background text-darkText antialiased;
  
  ::selection {
    @apply bg-secondary text-darkText;
  }
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}